{% extends "index.html" %}
{% block title %}Wifi Configuration{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="form-wrap">
    {% if complete %}
    {% if success == True %}
    <h1>Sucessfully connected to Wifi</h1>
    {% elif failed == True %}
    <h1>Failed to connect to Wifi</h1>
    {% endif %}
    {% else %}
    <form action="{{url_for('web.wifi.index')}}" method="post">
        <header>AstroPi Wifi Control</header>
        <label for="ssid"><span>WiFi network:</span>
            <select name="ssid" id="ssid" value="{{active}}">
                {% for option in options %}
                <option {{'selected' if option.selected }} value="{{ option.value }}">{{ option.label }}
                </option>
                {% endfor %}
            </select>
        </label>
        <label for="password">
            <span>Password:</span>
            <input type="password" name="password" />
        </label>
        <input type="submit" value="Connect">
    </form>
    {% endif %}
</div>
{% endblock %}