#mainHeader {
    background: #fff;
    padding: 4px;
    box-shadow: 0px -1px 5px 0px #323232;
    position: relative;
    display: flex;
    align-items: center;

    .logo {
        height: 34px;
    }
}