{% macro camera_preview_body() -%}
<script>
    function capturePreview() {
        url = "{{url_for('web.dashboard.camera.preview')}}"
        fetch(url, { method: "POST" })
            .then(async (response) => {
                if (response.ok) {
                    $.toast({
                        heading: 'Success',
                        text: `Captured preview`,
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                    data = await response.json()

                    setPreviewImage(data.file)

                } else {
                    throw new Error()
                }
            })
            .catch(() => {
                $.toast({
                    heading: 'Error',
                    text: `Failed to capture preview`,
                    showHideTransition: 'slide',
                    icon: 'error'
                })
            });
    }

    function setPreviewImage(img) {
        $('#preview').remove()
        const image_url = "{{url_for('web.img.get_img', path='111')}}".replace('111', img).replace('JPG', 'jpg') + "?" + Math.random()
        var img = document.createElement("IMG");
        img.src = image_url;

        $('#previewImage').html(
            $('<img>', {
                id: 'preview',
                src: image_url,
                width: '100%',
                class: "img-fluid"
            })
        )
    }

    $(document).ready(() => setPreviewImage('thumb_preview.jpg'))
</script>
<div class="tab-pane fade p-3" id="preview-tab-pane" role="tabpanel" aria-labelledby="preview-tab" tabindex="0">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <i id="previewImage" style="display: block; width: 100%; height: auto; background-color: #c9c9c9"></i>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary mt-3" onclick="capturePreview()">Capture Preview</button>
        </div>
    </div>
</div>

{%- endmacro %}