{% set navigation_bar = [
('/telescope', 'telescope', 'Telescope'),
('/camera', 'camera', 'Camera')
] -%}
<script>
    $(document).ready(function () {
        if (window.astropi.weather) {
            $('#navbarContainer').append(`
                <small>
                    <i id="condition"></i>
                    <i id="moonphase"></i>
                    <i id="temperature"></i>
                    <i id="wind"></i>
                </small>
            `)
            $("#condition").html(window.astropi.weather.condition)
            $("#humidity").html(window.astropi.weather.humidity)
            $("#moonphase").html(window.astropi.weather.moonphase)
            $("#temperature").html(window.astropi.weather.temperature)
            $("#wind").html(window.astropi.weather.wind)
        }
    })
</script>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid" id="navbarContainer">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 12px">
            <ul class="navbar-nav me-auto m-0 align-items-center" id="headertarget">
                {% for href, id, caption in navigation_bar %}
                <li class="nav-item">
                    <a class="nav-link {% if id==active_page %}active fw-semibold text-primary{% endif %}"
                        href="{{ href|e }}" {% if id==active_page %} aria-current="page" {% endif %}>{{
                        caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>