{% macro label(text="") -%}
<div class="col text-start">
    <label class="form-label fw-semibold p-2" style="font-size: 12px">
        {{text}}
    </label>
</div>
{%- endmacro %}

{% macro toggleInput(name, text, active) -%}
<div class="row mb-2">
    {{ label(text)}}
    <div class="col text-start">
        <div class="form-check form-switch">
            <input {% if active=="2" %}checked{% endif %} onchange="window.astropi.settings.onchange(event)"
                class="form-check-input" type="checkbox" role="switch" id="{{name.split('/')[-1]}}">
        </div>
    </div>
</div>
{%- endmacro %}

{% macro selectInput(name, text, options, active) -%}
<script>
    $(document).ready(function () {
        $('select#{{name.split("/")[-1]}}').on('input', (event) => {
            window.astropi.settings.onchange(event)
            // Sets value to None, if "None" exists - These are special
            // selections, and represent specific actions a user can take
            // and not setting a constant config change
            if ($(event.target).find('option:contains("None")').length == 1) {
                opt = $(event.target).find('option:contains("None")')
                console.log(opt.prop('value'))
                $(event.target).val(opt.prop('value'))
            }
        })
    });
</script>
<div class="row mb-2">
    {{ label(text)}}
    <div class="col text-start">
        <select id="{{name.split('/')[-1]}}" class="form-select camera-settings-select" aria-label="{{text}}">
            {% for o in options %}
            <option value="{{loop.index - 1}}" {% if active==o %}selected{% endif %}>{{o}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{%- endmacro %}