{% set active_page = "camera" %}
<!--  -->
{% from "pages/dashboard/camera.preview.html" import camera_preview_body with context %}
{% from "pages/dashboard/camera.capture.html" import camera_capture_body with context %}
{% from "pages/dashboard/camera.settings.html" import camera_settings_body, camera_actions_body, camera_other_body with
context %}
{% from "pages/dashboard/camera.planning.html" import camera_planning_body with context %}

<!-- Navigation Tab Macro -->
{% macro camera_tabs(name="tab", active=false) -%}
<li class="nav-item" role="presentation">
    <button class="nav-link {% if active %}active{% endif %}" id="{{name}}-tab" data-bs-toggle="tab"
        data-bs-target="#{{name}}-tab-pane" type="button" role="tab" aria-controls="{{name}}-tab-pane"
        aria-selected="{% if active %}true{% else %}false{% endif %}">
        {{ name[0]|upper}}{{name[1:] }}
    </button>
</li>
{%- endmacro %}

{% extends "layouts/dashboard.html" %}
{% block head %}
<script>
    $(document).ready(function () {
        window.astropi.settings.onchange = function (event) {
            const config_name = event.target.id.split('/')[event.target.id.split('/').length - 1]
            let config_value = event.target.value

            // Change checkbox values to is checked
            if ($(event.target).prop('tagName') == 'INPUT' && $(event.target).prop('type') == 'checkbox') {
                config_value = $(event.target).is(':checked') ? '1' : '0'
            }

            url = "{{url_for('web.camera.change_camera_setting', setting='11', value='22')}}"
                .replace('22', encodeURIComponent(config_value))
                .replace('11', encodeURIComponent(config_name))
            console.log(url, 'bang url')

            fetch(url, { method: "POST" })
                .then(async (response) => {
                    if (response.ok) {
                        $.toast({
                            heading: 'Success',
                            text: `Updated ${config_name}`,
                            showHideTransition: 'slide',
                            icon: 'success'
                        })
                    } else {
                        throw new Error()
                    }
                })
                .catch(() => {
                    $.toast({
                        heading: 'Error',
                        text: `Failed to update ${config_name}`,
                        showHideTransition: 'slide',
                        icon: 'error'
                    })
                });
        }
    })
</script>
{% endblock %}
{% block dashboard_content %}
<h3 id="cameraName" class="m-3 mb-0">
    {{camera_config.status.cameramodel.value}}
    <i
        class="bi bi-battery-charging fs-1 {% if camera_config.status.batterylevel.value == '100%' %}text-success{% else %}text-warning{% endif %}"></i>
</h3>
<h6>{{camera_config.status.lensname.value}}</h6>
<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    {{ camera_tabs(name="preview", active=true) }}
    {{ camera_tabs(name="capture", active=false) }}
    {{ camera_tabs(name="settings", active=false) }}
    {{ camera_tabs(name="actions", active=false) }}
    {{ camera_tabs(name="other", active=false) }}
    {{ camera_tabs(name="planning", active=false) }}
</ul>
<div class="tab-content">
    {{ camera_preview_body() }}
    {{ camera_capture_body() }}
    {{ camera_settings_body() }}
    {{ camera_actions_body() }}
    {{ camera_other_body() }}
    {{ camera_planning_body() }}
</div>
{% endblock %}